.base-containers {
  display: flex;
  overflow: auto;
  .genelGrid {
    transition: color 5s ease-in-out, box-shadow 5s ease-in-out;

    .card {
      &:hover {
        background-color: rgb(34, 2, 61);
      }
    }
  }
  .followButton {
    background-color: #16a22d;
    color: white;
    transition: color 0.3s ease-in-out, box-shadow 0.1s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 0 #16a22d;
      color: black;
      background-color: whitesmoke;
    }
  }
}
