.base-containers {
  display: flex;
  overflow: auto;

  .followButton {
    background-color: #1a5d89;
    color: white;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 0 #000;
      background-color: #86c1e9;
    }
  }
}
